langid==1.1.6
madgrad==1.2
matplotlib==3.5.2
numpy==1.22.4
opencv_python==4.6.0.66
pandas==1.4.2
pytest==7.1.2
pytorch_model_summary==0.1.2
PyYAML==6.0
scipy==1.8.1
scikit-image
spacy==3.3.1
spacy_language_detection==0.2.1
tensorboard
torch==1.13.0
torchvision==0.14.0
tqdm==4.64.0
transformers==4.24.0
sentencepiece
